<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thorswap LP Scenario Simulator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app" class="container">
        <h1>LP Scenario Simulator</h1>

        <p>How to use this tool: enter the amount of Rune as you'd enter a pool in THORSwap.
            If you'd like to enter asimmetrically with an asset, you must calcualate how much 50% of the asset would be in Rune.
            Note: this will be improved in the future. For now use it like this ;)
        </p>

        <div class="row g-1">
            <div class="col-3">
                <label for="assetName" class="form-label">Asset name (e.g. BTC)</label>
                <input id="assetName" type="text" v-model="assetName" placeholder="asset" class="form-control">
            </div>
            <div class="col-3">
                <label for="initRuneAmount" class="form-label">Rune amount entered</label>
                <input id="initRuneAmount" type="number" v-model.number="initRuneAmount" placeholder="rune amt entered" class="form-control">
            </div>
            <div class="col-3">
                <label for="runePriceAtEnter" class="form-label">Rune price at enter</label>
                <input id="runePriceAtEnter" type="number" v-model.number="runePriceAtEnter" placeholder="rune price at enter" class="form-control">
            </div>
            <div class="col-3">
                <label for="assetPriceAtEnter" class="form-label">{{assetName ? assetName : 'Asset'}} price at enter</label>
                <input id="assetPriceAtEnter" type="number" v-model.number="assetPriceAtEnter" placeholder="asset price at enter" class="form-control">
            </div>

            <div class="col-3">
                <label for="runePriceNow" class="form-label">Rune price predicted</label>
                <input id="runePriceNow" type="number" v-model.number="runePriceNow" placeholder="rune price predict" class="form-control">
            </div>
            <div class="col-3">
                <label for="assetPriceNow" class="form-label">{{assetName ? assetName : 'Asset'}} price predicted</label>
                <input id="assetPriceNow" type="number" v-model.number="assetPriceNow" placeholder="asset price predict" class="form-control">
            </div>
            <div class="col-3">
                <label for="timeInPool" class="form-label">Timespan in months</label>
                <input id="timeInPool" type="number" v-model.number="timeInPool" placeholder="timespan in months" class="form-control">
            </div>
            <div class="col-3">
                <label for="desiredAPY" class="form-label">APY</label>
                <input id="desiredAPY" type="number" v-model.number="desiredAPY" placeholder="APY" class="form-control">
            </div>
            <div class="col-3">
                <label for="initAssetAmount" class="form-label">{{assetName ? assetName : 'Asset'}} amount entered</label>
                <input id="initAssetAmount" type="text" v-model.number="getRounded(initAssetAmount, 2, assetName)" placeholder="Asset amt entered" class="form-control" readonly>
            </div>
            <div class="col-3">
                <label for="initRuneAmountAsym" class="form-label">Rune amount entered asymmetrically</label>
                <input id="initRuneAmountAsym" type="text" v-model.number="getRounded(initRuneAmountAsym, 2, 'Rune')" placeholder="Rune amt asym" class="form-control" readonly>
            </div>
            <div class="col-3">
                <label for="initAssetAmountAsym" class="form-label">{{assetName ? assetName : 'Asset'}} amount entered asymmetrically</label>
                <input id="initAssetAmountAsym" type="text" v-model.number="getRounded(initAssetAmountAsym, 2, assetName)" placeholder="Asset amt asym" class="form-control" readonly>
            </div>
        </div>
<br>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Initial investment value</td>
                <td>{{getRounded(initInvestmentValue, 2, 'USD')}}</td>
                <td>Current pool value</td>
                <td>{{getRounded(LPValue, 2, 'USD')}}</td>
            </tr>
            <tr>
                <td><span v-if="overallGain > 0">Gain</span><span v-else>Loss</span> in USD</td>
                <td>{{getRounded(overallGain, 2, 'USD')}}</td>
                <td><span v-if="overallGain > 0">Gain</span><span v-else>Loss</span> %</td>
                <td>{{getRounded(overallGainPercent, 2, '%')}}</td>
            </tr>
            <tr>
                <td>Rune movement</td>
                <td>{{getRounded(runeMovement, 1)}}</td>
                <td>{{assetName}} movement</td>
                <td>{{getRounded(assetMovement, 1)}}</td>
            </tr>
            <tr>
                <td>Rune amount in pool</td>
                <td>{{getRounded(runeAmountNow, 2, 'Rune')}}</td>
                <td>{{assetName}} amount in pool</td>
                <td>{{getRounded(assetAmountNow, 2, assetName)}}</td>
            </tr>
            <tr>
                <td>Total Gain/Loss</td>
                <td>{{getRounded((runeAmountNow - initRuneAmount), 2, 'Rune')}}</td>
                <td></td>
                <td>{{getRounded((assetAmountNow - initAssetAmount), 2, assetName)}}</td>
            </tr>
            <tr>
                <td>Fee earn</td>
                <td>{{getRounded(feeEarnRune, 2, 'Rune')}}</td>
                <td></td>
                <td>{{getRounded(feeEarnAsset, 2, assetName)}}</td>
            </tr>
            <tr>
                <td colspan="4"><h2>LP Scenarios</h2></td>
            </tr>
            <tr>
                <td colspan="4">If you entered the pool <strong>symmetrically</strong></td>
            </tr>
            <tr>
                <td>LP vs HOLD value</td>
                <td>{{getRounded(symLPvsHOLD, 2, 'USD')}}</td>
                <td>Redeemable</td>
                <td>{{getRounded(runeAmountNow, 2, 'Rune')}} + {{getRounded(assetAmountNow, 2, assetName)}}</td>
            </tr>
            <tr>
                <td colspan="4">If you entered the pool asymmetrically with <strong>Rune</strong></td>
            </tr>
            <tr>
                <td>LP vs HOLD value</td>
                <td>{{getRounded(asymRuneLPvsHOLD, 2, 'USD')}}</td>
                <td>Rune redeemable</td>
                <td>{{getRounded(runeAmountNow * 2, 2, 'Rune')}}</td>
            </tr>
            <tr>
                <td colspan="4">If you entered the pool asymmetrically with <strong>{{assetName}}</strong></td>
            </tr>
            <tr>
                <td>LP vs HOLD value</td>
                <td>{{getRounded(asymAssetLPvsHOLD, 2, 'USD')}}</td>
                <td>{{assetName ? assetName : 'Asset'}} redeemable</td>
                <td>{{getRounded(assetAmountNow * 2, 2, assetName)}}</td>
            </tr>
            <tr>
                <td colspan="4">If you did not enter the pool, but rather <strong>HODL</strong></td>
            </tr>
            <tr>
                <td>HODL value</td>
                <td>{{getRounded(symHold, 2, 'USD')}}</td>
                <td>Assets</td>
                <td>{{getRounded(initRuneAmount, 2, 'Rune')}} + {{getRounded(initAssetAmount, 2, assetName)}}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div v-if="symLPvsHOLD >= 0">No ILP needed ! :) you made {{symLPvsHOLD.toFixed(2)}} USD!</div>
                    <div v-else>ILP would cover {{getRounded((ILP*100), 2, '%')}} of your LP vs hold losses: {{getRounded((-symLPvsHOLD*ILP), 2, 'USD')}} or {{getRounded(-symLPvsHOLD/runePriceNow*ILP, 2, 'Rune')}}</div>
                </td>
            </tr>
        </table>
    </div><!--end app-->
    <footer>
        <div class="text-center p-4">
            This script is open source published on <a href="https://github.com/cryptotester/thorchain-tools">github.com/cryptotester/thorchain-tools</a><br>
            Based on lp_scenario_sim.py* by pietrekt on <a href="https://liquidityprovider.university/" target="_blank">LP University</a> Discord server<br>
            *Original script available in the #general channel (pinned message)
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="lp_scenario_sim.js"></script>
</body>
</html>
